.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-underline {
  text-decoration: underline;
  cursor: pointer; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-cap {
  text-transform: capitalize; }

.text-upper {
  text-transform: uppercase; }

.text-lower {
  text-transform: lowercase; }

.text-none {
  text-transform: none; }

.font-bold {
  font-weight: bold !important; }

.font-normal {
  font-weight: normal !important; }

.font-12 {
  font-size: 12px !important; }

.lh-12 {
  line-height: 12px !important; }

.font-13 {
  font-size: 13px !important; }

.lh-13 {
  line-height: 13px !important; }

.font-14 {
  font-size: 14px !important; }

.lh-14 {
  line-height: 14px !important; }

.font-15 {
  font-size: 15px !important; }

.lh-15 {
  line-height: 15px !important; }

.font-16 {
  font-size: 16px !important; }

.lh-16 {
  line-height: 16px !important; }

.font-17 {
  font-size: 17px !important; }

.lh-17 {
  line-height: 17px !important; }

.font-18 {
  font-size: 18px !important; }

.lh-18 {
  line-height: 18px !important; }

.font-19 {
  font-size: 19px !important; }

.lh-19 {
  line-height: 19px !important; }

.font-20 {
  font-size: 20px !important; }

.lh-20 {
  line-height: 20px !important; }

.font-21 {
  font-size: 21px !important; }

.lh-21 {
  line-height: 21px !important; }

.font-22 {
  font-size: 22px !important; }

.lh-22 {
  line-height: 22px !important; }

.font-23 {
  font-size: 23px !important; }

.lh-23 {
  line-height: 23px !important; }

.font-24 {
  font-size: 24px !important; }

.lh-24 {
  line-height: 24px !important; }

.font-25 {
  font-size: 25px !important; }

.lh-25 {
  line-height: 25px !important; }

.font-26 {
  font-size: 26px !important; }

.lh-26 {
  line-height: 26px !important; }

.font-27 {
  font-size: 27px !important; }

.lh-27 {
  line-height: 27px !important; }

.font-28 {
  font-size: 28px !important; }

.lh-28 {
  line-height: 28px !important; }

.font-29 {
  font-size: 29px !important; }

.lh-29 {
  line-height: 29px !important; }

.font-30 {
  font-size: 30px !important; }

.lh-30 {
  line-height: 30px !important; }

.font-31 {
  font-size: 31px !important; }

.lh-31 {
  line-height: 31px !important; }

.font-32 {
  font-size: 32px !important; }

.lh-32 {
  line-height: 32px !important; }

.font-33 {
  font-size: 33px !important; }

.lh-33 {
  line-height: 33px !important; }

.font-34 {
  font-size: 34px !important; }

.lh-34 {
  line-height: 34px !important; }

.font-35 {
  font-size: 35px !important; }

.lh-35 {
  line-height: 35px !important; }

.font-36 {
  font-size: 36px !important; }

.lh-36 {
  line-height: 36px !important; }

.font-37 {
  font-size: 37px !important; }

.lh-37 {
  line-height: 37px !important; }

.font-38 {
  font-size: 38px !important; }

.lh-38 {
  line-height: 38px !important; }

.font-39 {
  font-size: 39px !important; }

.lh-39 {
  line-height: 39px !important; }

.font-40 {
  font-size: 40px !important; }

.lh-40 {
  line-height: 40px !important; }

/*# sourceMappingURL=font.css.map */
