// 文本对齐方式
$alignments: (left, center, right, justify);

@each $item in $alignments {
  .text-#{$item} {
    text-align: #{$item};
  }
}

.text-underline {
  text-decoration: underline;
  cursor: pointer;
}

// 文本超出隐藏
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$forms: (cap: capitalize, upper: uppercase, lower: lowercase, none: none);

@each $key,$value in $boxes {
  .text-#{$key} {
    text-transform: #{$value};
  }
}

.font-bold{
  font-weight: bold !important;
}

.font-normal{
  font-weight: normal !important;
}

@for $index from 12 through  40 {
  .font-#{$index}{
    font-size: #{$index}px !important;
  }
  .lh-#{$index}{
    line-height: #{$index}px !important;
  }
}