.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.pull-center{
  margin: 0 auto;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// box model
$directions: (l: left, r: right, t: top, b: bottom);

@for $index from 0 through 20 {
  .p-#{$index} {
    padding: $index * 5px !important;
  }
  .m-#{$index} {
    margin: $index * 5px !important;
  }
  @each $key,$value in $directions {
    .p#{$key}-#{$index} {
      padding-#{$value}: $index * 5px !important;
    }
    .m#{$key}-#{$index} {
      margin-#{$value}: $index * 5px !important;
    }
  }
}

$boxes: (content: content-box, border: border-box, inherit: inherit, unset: unset);

@each $key,$value in $boxes {
  .box-#{$key} {
    box-sizing: #{$value};
  }
}

// width
@for $index from 0 through 100 {
  .w-#{$index}{
    width: #{$index}% !important;
  }
}

// vertical-align
$alignment: (baseline, sub, super, top, text-top	, middle, bottom, text-bottom	, inherit);

@each $item in $alignment {
  .ver-#{$item} {
    vertical-align: #{$item};
  }
}
